
@using ASP.NET_StoreManagement.Models;
@model IEnumerable<Product>

<div class="grid-in">
    @foreach (var item in Model)
    {
        
        <div class="col-md-4 grid-top">
            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src=@Url.Content("~/Content/HinhAnhSP/" + item.Image) alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-left    b-delay03 ">
                        <span>@item.Description</span>
                    </h3>
                </div>
            </a>


            <p><a href="single.html">@item.DisplayName</a></p>
        </div>
    }
</div>